{% extends 'kindergarden:templates/site/main.jinja2' %}

{% block css %}
    <link rel="stylesheet" href="{{request.static_url('kindergarden:static/css/site/childrens.css')}}">
{% endblock css %}

{% block content %}
    <div class="content">
        <div class="children-wrapper">
            <div class="command-line">
                <ul>
                    <li class="list-item item-control">
                        <div class="items-content">
                            <div class="list-item-content">
                                <i class="fa fa-search"></i>
                                <div class="input-wrapper">
                                    <span>Пошук: </span>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="list-item-content lic-button">
                                <span> Знайти </span>
                            </div>
                            <div class="list-item-content lic-button">
                                <span> Відмінити </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <a href="#">
                            <i class="fa fa-list"></i>
                            Додати нову дитину
                        </a>
                    </li>
                    <li class="list-item">
                        <a href="#">
                            <i class="fa fa-list"></i>
                            Друк
                        </a>
                        <ul class="cm-submenu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    Друк з поточними нашалаштуваннями
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    Друк
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    Друк
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="child-list">
                <h3>Перелік елементів довідника "Діти"</h3>
                <ul class="ul-child-list">
                    {% for elem in children_with_parents %}
                        <li>
                            <div class="cl-img">
                                {% if elem.image %}
                                    <img src="#" alt="#">
                                {% else %}
                                    <img src="{{request.static_url('kindergarden:static/img/no-image.png')}}" alt="#">
                                {% endif %}
                            </div>
                            <div class="cl-name">
                                <p><a href="{{ request.route_url('children-view', slug=elem.slug) }}"> {{ elem.fullname }}</a></p>
                                <p>{{ elem.address }}</p>
                            </div>
                            <div class="cl-birth">
                                <p>{{ elem.date_of_birth}}</p>
                            </div>
                            <div class="cl-parrents">
                                <ul>
                                    {% for parent in elem.parents %}
                                        <li>
                                            <p>{{ parent.fullname }}</p>
                                            <p>{{ parent.relation }}</p>
                                            <p>{{ parent.phone }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="cl-date-in">
                                <p>{{ elem.date_start}}</p>
                            </div>
                            <div class="cl-count">
                                <div class="cl-weight">
                                    <span>{{ elem.weight }}</span>
                                </div>
                                <div class="cl-height">
                                    <span>{{ elem.growth }}</span>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
 {% endblock %}