{% extends 'kindergarden:templates/site/main.jinja2' %}

{% block css %}
    <link rel="stylesheet" href="{{request.static_url('kindergarden:static/css/site/childrens.css')}}">
    <link rel="stylesheet" href="{{request.static_url('kindergarden:static/css/site/child-detail.css')}}">
{% endblock css %}

{% block modal %}
    <div class="modal" data-target="change-parent">
        <div class="modal-wrapper">
            <div class="modal-content">
                <div class="inp-group">

                    <form id="form-parent">
                        <div class="form-group">
                            <div class="close-modal">
                                <i class="fa fa-close"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <p id="error_element"></p>
                        </div>
                        <div class="form-group">
                            <label>ПІБ</label>
                            <input name="name" type="text" value="" placeholder="Прізвище, ім’я, по-батькові">
                            <input type="hidden" name="parent_id" value="0">
                            <input type="hidden" name="child" value="0">
                        </div>
                        <div class="form-group">
                            <label>Дата народження</label>
{#                            <input name="date-of-birth" type="date" value="">#}
                            <div class="birth-wrapper">

                            </div>
                        </div>
                        <div class="form-group">
                            <label>Телефон</label>
                            <input name="phone" type="phone" value="" placeholder="Телефон">
                        </div>
                        <div class="form-group hidden">
                            <input name="form-id" type="text" value="">
                        </div>
                        <div class="form-group hidden">
                            <span id="operation-type" data-type="0"></span>
                        </div>
                        <div class="form-group">
                            <label>Відношення</label>
                            <div class="select-div">
{#                                <ul class="select" data-value="">#}
{#                                    <div class="select-value">Оберіть відношення</div>#}
{#                                    <div class="select-item-wrapper">#}
{#                                        <li class="select-item" value="father">Батько</li>#}
{#                                        <li class="select-item" value="mother">Мати</li>#}
{#                                        <li class="select-item" value="grandmother">Бабуся</li>#}
{#                                        <li class="select-item" value="grandfather">Дідусь</li>#}
{#                                    </div>#}
{#                                </ul>#}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Місце роботи</label>
                            <textarea name="work" placeholder="введіть місце роботи">nfkdsnfsdfsdnfdsfkdsf</textarea>
                        </div>
                        <div class="form-group">
                            <label>Посада</label>
                            <input name="position" type="text" value="" placeholder="Назва посади">
                        </div>
                        <div class="form-group">
                            <label>Адреса</label>
                            <textarea name="address" placeholder="введіть свою адресу"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Записати" id="modal-parent-save">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block content %}
    <div class="content">
        <div class="children-wrapper">
            <div class="command-line">
                <ul>
                    <li class="list-item item-control">
                        <div class="items-content">
                            <div class="list-item-content">
                                <i class="fa fa-search"></i>
                                <div class="input-wrapper">
                                    <span>Пошук: </span>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="list-item-content lic-button">
                                <span> Знайти </span>
                            </div>
                            <div class="list-item-content lic-button">
                                <span> Відмінити </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-item">
                        <a href="#">
                            <i class="fa fa-list"></i>
                            Друк
                        </a>
                        <ul class="cm-submenu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    Друк з поточними наалаштуваннями
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    Друк
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    Друк
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="child-details" id="child-slug" data-slug="{{ slug }}">
                {% if slug %}
                    <h3>Особиста інформація по {{ name }}</h3>
                {% else %}
                    <h3>Створення нового вихованця садочка</h3>
                {% endif %}
                <form action="{{request.route_url('children_action',action=action)}}" method="post" enctype="multipart/form-data">
                    <div class="detail-content-wrapper">
                        <div class="line-img-personal-info">
                            <div class="img-container">
                                <div class="img-wrapper">
                                    {% if image %}
                                        <img src="{{ image }}" alt="#">
                                    {% else %}
                                        <img src="{{request.static_url('kindergarden:static/img/no-image.png')}}" alt="#">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="personal-info-container">
                                <div class="pic-name">
                                    {{ form.non_field_errors }}
                                    {{ form.slug }}
                                    {% if form.errors %}
                                        <ul class="errors">
                                            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                                {% for error in field_errors %}
                                                    <li>{{ form[field_name].label }}: {{ error }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <div class="input-group">
                                        <span class="label-wrp label-req" data-img="\f000">ПІБ</span>
                                        {{ form.fullname }}
                                    </div>
                                    <div class="input-group">
                                        <span class="label-wrp label-req">Дата народження</span>
                                        <div class="date-select-wrapper">
                                            {{ form.date_of_birth }}
                                        </div>
                                    </div>
                                    <div class="input-container">
                                        <div class="input-group">
                                            <span class="label-wrp label-req">Ріст (см.)</span>
                                            {{ form.growth }}
                                        </div>
                                        <div class="input-group">
                                            <span class="label-wrp label-req">Вага (кг.)</span>
                                            {{ form.weight }}
                                        </div>
                                    </div>
                                    <div class="input-container">
                                        <div class="input-group">
                                            <span class="label-wrp label-req">Дата початку</span>
                                            {{ form.date_start }}
                                        </div>
                                        <div class="input-group">
                                            <span class="label-wrp label-req">Дата закінчення</span>
                                            {{ form.date_end }}
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="label-wrp label-req" data-img="\f000">Група</span>
                                        {{ form.group_id }}
                                    </div>
                                    <div class="input-group">
                                        <span class="label-wrp label-req" data-img="\f000">Адреса</span>
                                        {{ form.address }}
                                    </div>
                                    <div class="pic-commands">
                                        <div class="button-wrapper">
                                            <label for="id_child-image">Додати фотографію</label>
                                            {{ form.image }}
                                        </div>
                                        <div class="button-wrapper">
                                            <a href="#" id="add-parent">Додати батьків</a>
                                        </div>
                                        <div class="button-wrapper">
                                            <button type="submit" id="save-child">Записати та закрити</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="line-parents">
                            <div class="tabs-titles">
                                <ul>
                                    <li class="active-tab">Батьки</li>
                                    <li>Відвідування</li>
                                    <li>Інші</li>
                                </ul>
                            </div>
                            <div class="tabs-content">
                                <div class="tab active-tab">
                                    <ul class="list-parents">
{#                                        {{ formset.management_form }}#}
                                        <li class="lst-parent" id="lst-title">
                                            <div class="field-container">
                                                <p>П.І.Б / Дата народження/ Телефон</p>
                                            </div>
                                            <div class="field-container">
                                                <p>Відношення / посада</p>
                                            </div>
                                            <div class="field-container">
                                                <p>Місце роботи</p>
                                            </div>
                                            <div class="field-container">
                                                <p>Адреса</p>
                                            </div>
                                            <div class="field-container">
                                                <p></p>
                                            </div>
                                        </li>
                                        {% for parent_form in form.parents.entries %}
{#                                            {{ form_.non_field_errors }}#}
                                                <li class="lst-parent" id="lst-{{ loop.index }}" data-operation="" data-delete="">
                                                    <div class="field-container">
                                                    <div class="top-line">
{#                                                        <input type="text" name="parent_name" value="Буняк Володимир Сергійович" readonly>#}
                                                        {{ parent_form.form.fullname }}
                                                        {{ parent_form.form.id }}
                                                        {{ parent_form.form.child }}
                                                    </div>
                                                    <div class="bottom-line">
                                                        <div class="lst-date-birth">
{#                                                            <input type="date" name="parent_date" value="2018-07-01" readonly>#}
                                                            {{ parent_form.form.date_of_birth }}
                                                        </div>
                                                        <div class="lst-phone">
{#                                                            <input type="text" name="parent_phone" value="0969945947" readonly>#}
                                                            {{ parent_form.form.phone }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field-container">
                                                    <div class="top-line">
                                                        <div class="lst-type">
                                                            <input type="text" name="parent_relation" value="Батько" readonly>
                                                           {{ parent_form.form.relation }}
                                                        </div>
                                                    </div>
                                                    <div class="bottom-line">
                                                        <div class="lst-posada">
{#                                                            <input type="text" name="parent_workplace" value="Програміст" readonly>#}
                                                            {{ parent_form.form.workplace }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="field-container">
                                                    <div class="lst-work">
{#                                                        <textarea name="parent_work" readonly>Україна, Тернопільська область, м.Тернопіль Приватне підприємство "Укрспецінформ"</textarea>#}
                                                        {{ parent_form.form.work }}
                                                    </div>
                                                </div>
                                                <div class="field-container">
                                                    <div class="lst-address">
{#                                                        <textarea name="parent_work" readonly>Україна, Тернопільська область, м.Тернопіль Приватне підприємство "Укрспецінформ"</textarea>#}
                                                        {{ parent_form.form.address }}
                                                    </div>
                                                </div>
                                                <div class="field-container">
                                                    <div class="lst-change">
                                                        <a href="#" class="change-parent-info">Змінити</a>
                                                        <a href="#" class="delete-parent-info">Вилучити</a>
{#                                                        {{ form_.DELETE }}#}
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="tab">
{#                                    <ul class="pay-group-list">#}
{#                                        {{ pay_formset.management_form }}#}
{#                                        <li class="pay-group-elem pay-group-title">#}
{#                                            <div class="pay-account">#}
{#                                                <span>Порядок</span>#}
{#                                            </div>#}
{#                                            <div class="pay-group">#}
{#                                                <span>Відношення до тарифу</span>#}
{#                                            </div>#}
{#                                            <div class="pay-start">#}
{#                                                <span>Початок</span>#}
{#                                            </div>#}
{#                                            <div class="pay-end">#}
{#                                                <span>Закінчення</span>#}
{#                                            </div>#}
{#                                            <div class="pay-status">#}
{#                                                <span>Активність</span>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                        {% for form_pay in pay_formset %}#}
{#                                        {{ form_pay.non_field_errors }}#}
{#                                        <li class="pay-group-elem">#}
{#                                            <div class="pay-account">#}
{#                                                {{ form_.id }}#}
{#                                                <div class="account-wrapper">#}
{#                                                   {{ forloop.counter }}#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="pay-group">#}
{#                                                {{ form_pay.payment_group }}#}
{#                                            </div>#}
{#                                            <div class="pay-start">#}
{#                                                {{ form_pay.date_start }}#}
{#                                            </div>#}
{#                                            <div class="pay-end">#}
{#                                                {{ form_pay.date_end }}#}
{#                                            </div>#}
{#                                            <div class="pay-status">#}
{#                                                {{ form_pay.enable }}#}
{#                                            </div>#}
{#                                            {{ form_.DELETE }}#}
{#                                        </li>#}
{##}
{#                                        {% endfor %}#}
{#                                    </ul>#}
                                </div>
                                <div class="tab">
                                    <h3>Третя вкладка</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

