<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% if action == "new" %}
        <form action="{{ request.route_url(request.matched_route.name.replace("_crud", "_create")) }}" method="post">
{#        {{ request.dbsession.get_csrf_token() }}#}
        {{ form.errors }}
            {% for field in form %}
                <p><span>{{ field.label }}</span> <span>{{ field }}</span></p>
            {% endfor %}
{#         <button name="action" value="create" type="submit">#}
{#            <span class="button-content">СТВОРИТИ</span>#}
{#        </button>#}
            <input type="submit" value="SAVE">
        </form>
    {% endif %}

    {% if action == "create" %}
        <form action="{{ request.route_url(request.matched_route.name, _query={'action':'create'}) }}" method="post">
{#        {{ request.dbsession.get_csrf_token() }}#}
        {{ form.errors }}
            {% for field in form %}
                <p><span>{{ field.label }}</span> <span>{{ field }}</span></p>
            {% endfor %}
{#         <button name="action" value="create" type="submit">#}
{#            <span class="button-content">СТВОРИТИ</span>#}
{#        </button>#}
            <input type="submit" value="SAVE">
        </form>
    {% endif %}

    {% if action == "list" %}
        <form action="{{ request.route_url(request.matched_route.name.replace("_list", "_crud")) }}" method="get">
        {% if objects %}
            {% for obj in objects %}
                <p>
                    {% for field in fields %}
                        {{ obj[field] }}
                    {% endfor %}
                </p>
            {% endfor %}
        {% else %}
            <p>Елементів не знайдено</p>
        {% endif %}
        <a href="{{ request.route_url(request.matched_route.name.replace("_list", "_crud"), method="get", _query={'action':'new'}) }}">СТВОРИТИ</a>
{#        <button name="action" value="new" type="submit">#}
{#            <span class="button-content">СТВОРИТИ</span>#}
{#        </button>#}
        </form>
    {% endif %}

</body>
</html>